:root {
    --blue: rgb(48, 141, 255);
    --light: rgb(211, 224, 255);
}

html, body, .category{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.category {
    transition: left 0.5s ease, right 0.5s ease;
}

.parent {
    display: flex;
    height: 10%;

    flex-direction: row;
    align-items: center;

    background-color: var(--blue);
    transition: background-color 0.5s ease;
}

.logo {
    margin-right: 50px;
    margin-top: 10px;
}

.child {
    display: flex;

    margin: 10px;
    flex-grow: 1;
    
    justify-content: center;

    font-size: 4vh;
    font-family: 'Dosis';
    color: white;

    transition: all .1s ease;
}

a {
  position: relative;
  color: white;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* main page */

.element {
    display: flex;
    position: relative;

    font-size: 3vw;
    font-family: 'Dosis';

    background-color: var(--light);
    color: var(--blue);
}

.header {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 35%;
    height: 20%;

    border-radius: 3px;
    
    position: relative;
    top: 10%;
    left: 12.5%;

    transition: opacity 0.75s ease;
}

.paragraph {
    display: flex;

    text-align: left;
    overflow: hidden;

    width: 50%;

    transition: opacity 0.75s ease;
    border-radius: 3px;
    
    position: relative;
    top: 20%;
    left: 37.5%;

    padding-left: 5%;
    padding-right: 5%;
}

#pg2 {
    top: 30%;
}

p {
    color: black; /* also see "__Default" property of "alphaTextColorWall" in data.js */
}