:root {
    --blue: rgb(48, 141, 255);
    --light: rgb(211, 224, 255);
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    max-width:100%;
    overflow-x:hidden;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.category {
    position: fixed;
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;

    max-width:100%;
    overflow-x:hidden;
    transition: left 0.5s ease, right 0.5s ease;
}

.parent {
    display: flex;
    height: 10%;

    flex-direction: row;
    align-items: center;

    background-color: var(--blue);
    transition: background-color 0.5s ease;
}

.logo {
    margin-right: 50px;
    margin-top: 10px;
}

.child {
    display: flex;

    margin: 10px;
    flex-grow: 1;
    
    justify-content: center;

    font-size: 4vh;
    font-family: 'Dosis';
    color: white;

    transition: all .1s ease;
}

a {
  position: relative;
  color: white;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* main page */

.clipart img {
    aspect-ratio: 1;
    height: 100%;
}

.element {
    display: flex;
    position: relative;

    font-size: 3vw;
    font-family: 'Dosis';

    background-color: var(--light);
    color: var(--blue);
}

.header {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 35%;
    height: 20%;

    border-radius: 3px;
    
    position: relative;
    top: 10%;
    left: 12.5%;

    transition: opacity 0.75s ease;
}

.paragraph {
    display: flex;

    text-align: left;
    overflow: hidden;

    width: 40%;

    transition: opacity 0.75s ease;
    border-radius: 3px;
    
    position: relative;
    top: 20%;
    left: 37.5%;

    padding-left: 5%;
    padding-right: 5%;

    font-size: 4vh;
}

#pg2 {
    top: 30%;
}

p {
    color: black; /* also see "__Default" property of "alphaTextColorWall" in data.js */
}

.carousel {
    display: flex;

    width: 55%;
    
    aspect-ratio: 16 / 9;
    border-radius: 3px;
    
    position: absolute;
    top: 25%;
    left: 22.5%;

    overflow: visible;
    transition: opacity 0.75s ease;

    /* justify-content: space-evenly; */
}

.carousel button {
    aspect-ratio: 16 / 9;
    position: absolute;
    height: 100%;
    width: 7.5%;

    background-color: transparent;
    border: 0;
    font-size: large;
    /* font-weight: bold; */
}

.carousel div {
    aspect-ratio: 16 / 9;
    position: absolute;

    width: 85%;
    height: 100%;
    left: 7.5%;

    text-align: center;
    /* background-color: red; */
    margin: 0;
    display: inline-block;
    overflow: hidden;
}

.carousel div div {
    position: absolute;

    width: 100%;
}

.carousel div div div {
    position: absolute;

    width: 100%;
    height: 85%;
    top: 10%;
    padding: 0;
    left: 0%;

    vertical-align: middle;
    text-align: left;
    overflow: hidden;

    font-size: 0.75em;
    color: black;

    /* background-color: yellow; */
}

.carousel div div h3 {
    position: relative;
    /* background-color: yellow; */

    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;

    overflow: hidden;
    display: block;
    
    width: 100%;
    height: 10%;

    font-size: 1em;
    line-height: 1em;

    /* transition: all 0.5s ease; */
}

.carousel div div div img {
    position: relative;

    width: 100%;
    height: 100%;
    top: 0%;
    padding: 0;
    left: 0%;
}


.invisibleScroll::-webkit-scrollbar {
    visibility: visible;
}